  .searcher-label{
    margin-right: 1vh;
    margin-left: 1vh;
  }
  .Searcher{
    margin-top: 5vh;
    color: rgb(64, 89, 213);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2vw;
  }
  
  .Results{
    color: rgb(64, 89, 213);
    text-transform: uppercase;
    margin-top: 5vh;
    font-weight: bold;
    font-size: 2vw;
  }
  
  .formTrip{
    margin-top: 1vw;
    font-size: 1vw;
    color: rgb(64, 89, 213);
  }
  .date{
    border-radius: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    
  }
  .submit{
    border-radius: 1vh;
    color: white;
    background-color: rgb(64, 89, 213);
  }
  
  .tableResults{
    th{
      border: 1px solid rgb(64, 89, 213);
      color: white;
      background-color: rgb(64, 89, 213);
    }
    td{
      border: 1px solid rgb(64, 89, 213);
      text-align: center;
      width: 20vh;
    }
    table{
      border-radius: 1vh;
      border-style: solid;
      border-color: rgb(64, 89, 213);
      border-spacing: 0px;
      margin-top: 5vh;
      margin-left: 10vh;
      margin-right: 10vh;
      margin-bottom: 10vh;
    }
}