
.signupForm{
    margin-top: 1vh;
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    width: 100%;
}
.signup{
    margin-top: 3vh;
    border-radius: 1vh;
    color: white;
    background-color: rgb(64, 89, 213);
}