#logo{
    border-radius: 1vh;
    width: 40vh;
    border-color: black;
    border-style: solid;
}
.loginForm{
    margin-top: 1vh;
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    width: 100%;
}